*{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}
html,body
{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
#backmain
{
    width: 100%;
    height: 100%;
    background-color: black;
}
#gotp
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 3%;
    bottom: 3%;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: white;
}
#gotop
{
    /* position: fixed; */
    font-size: 19px;
    right: 10%;
    bottom: 10%;
    color: black;
}
#gotp:hover
{
    width: 45px;
    height: 45px;
    background-color: #e04441;
    color: white;
    box-shadow: 0px 0px 12px #e31d1a;
}
#gotop:hover{
    color: wheat;
}
::-webkit-scrollbar
{
    width: 12px;
    background-color: black;
}
::-webkit-scrollbar-thumb
{
    width: 10px;
    height: 100px;
    border-radius: 50px;
    background: linear-gradient(to bottom, #bdc3c7,#2c3e50);
}
::-webkit-scrollbar-button
{
    background: linear-gradient(#536976,#292E49);
    border-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 30px;
}
::-webkit-scrollbar-track
{
    background-color: black;
    height: 20px;
}
#backpg1
{
    width: 100%;
    height: 100%;
    background-image: url(back.png);
    background-attachment: fixed;
    background-size: cover;
    /* padding: 25px 30px; */
}
#nav
{
    position: fixed;
    top: -100%;
    z-index: 9999999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: rgb(218, 218, 218);
}
#logo
{
    width: 155px;
    height: 60%;
    margin-left: 30px;
    /* background-color: red; */
    background-image: url(logo.png);
    background-size: cover;
    /* background-position: initial; */
}
#links
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 100%;
    margin-right: 30px;
    /* background-color: aqua; */
}
#links a
{
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    color: black;
    letter-spacing: 1px;
}
#links a:hover
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f35653;
    box-shadow: 0px 0px 15px #e31d1a;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 50px;
    
}
#mainbodypg1
{
    position: relative;
    /* margin-top: 60px; */
    width: 100%;
    height: 100%;
    
    /* background-color: rebeccapurple; */
}
#overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.39); */
}
#headings1
{
    overflow: hidden;
    position: absolute;
    width: 350px;
    height: 40px;
    /* background-color: #292E49; */
    top: 20%;
    left: 60%;
    /* width: 50%; */
    /* height: %; */
    /* background-color: aquamarine; */
}
#headings1 h2
{
    position: absolute;
    top: -100%;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
}
#headings2
{
    position: relative;
    top: -100%;
    left: 5%;
    width: 50%;
    height: 60%;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 10px 20px;
}
#headings2 h2
{
    text-align: right;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    line-height: 70px;
}
#dark
{
    color: white;
    font-weight: 500;

}
#headings2 h1
{
    margin-top: 100px;
    color: white;
    font-weight: 300; 
}
#headings2 h1:nth-child(3)
{
    font-family: 'playFair Display';
    position: absolute;
    top: 30%;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 3px;
}
#headings2 h1:nth-child(2)
{
    position: absolute;
    top: 20%;
    color: rgb(216, 216, 216);
}
#email
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 75%;
    left: 15%;
    width: 310px;
    height: 30px;
    background-color: transparent;
    border: 1.5px solid black;
    border-radius: 50px;
    color: white;
}
#email i
{
    margin-right: 20px;
    font-weight: 400;
    color: rgb(231, 231, 231);
}
#email h5
{
    /* font-family: ''; */
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 13px;
}
#headings2 a
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 75%;
    right: 25%;
    width: 100px;
    height: 31px;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 600;
    border: 1.5px solid black;
    background-color: transparent;
    color: white;
    letter-spacing: 1px;
}
#headings2 a:hover
{
    background-color: white;
    color: black;
    border-color: white;
    box-shadow: 0px 0px 15px rgb(240, 240, 240);
}
#overlay h6
{
    color: white;
    position: absolute;
    right: -.5%;
    bottom: 13%;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    transform: rotate(-90deg);
}
#knowmoreline
{
    /* overflow: hidden; */
    position: absolute;
    right: 1%;
    top: 81%;
    width: 3px;
    height: 65px;
    /* background-color: rgb(250, 233, 233); */
    border-radius: 10px;
}
#lining
{
    animation: moveline ease-out infinite 1s;
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: white;
}
#arrow
{
    color: white;
    position: absolute;
    right: 1%;
    bottom: 6%;
}
#backpg2
{
    overflow: hidden;
    position: relative;
    /* top: 10%; */
    width: 100%;
    height: 100%;
    background-image: url(back.png);
    background-size: cover;
    background-attachment: fixed;
    /* padding: 10px 25px; */
    /* background-color: #e04441; */
}
#backpg2 h1
{
    position: absolute;
    top: 10%;
    /* overflow: hidden; */
    margin-left: 25px;
    font-family: 'playFair Display';
    position: relative;
    color: white;
    letter-spacing: 3px;
    font-weight: 100;
}
#backpg2 h3
{
    position: absolute;
    right: 3%;
    top: 11%;
    color: white;
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: 800;
    border-bottom: 3px solid white;
}
#portfolio
{
    position: absolute;
    top: 18%;
    right: -100%;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    /* display: flex;
    align-items: center; */
    /* margin-left: 100px; */
    margin-top: 10px;
    width: 100%;
    height: 80%;
    /* background-color: black; */
}
#portfolio::-webkit-scrollbar
{
    height: 12px;
}
#portfolio::-webkit-scrollbar-thumb
{
    background: linear-gradient(to right, #bdc3c7,#2c3e50);
}
#portfolio::-webkit-scrollbar-button
{
    width: 40px;
    background-color: rgb(0, 102, 255);
    border: 1px solid black;
}
.webdesigns
{
    overflow: hidden;
    position: relative;
    width: 1100px;
    height: 100%;
    display: inline-block;
    margin-right: 10px;
    /* background-color: black; */
    background-position: center;
    background-size: cover;
}
#first
{
    background-image: url(second.png);
    /* border: 1px solid white; */
}
#second
{
    background-image: url(first.png);
    /* border: 1px solid white; */
}
#third
{
    background-image: url(third.png);
    /* border: 1px solid white; */
}
#fourth
{
    background-image: url(fourth.png);
    /* border: 1px solid white; */
}
#fivth
{
    background-image: url(fivth.png);
    /* border: 1px solid white; */
}
#ninth
{
    background-image: url(ninth.jpg);
    /* border: 1px solid white; */
}
#fourteen
{
    width: 280px;
}
#fourteen video
{
    position: absolute;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 280px;
}
#tenth
{
    position: relative;
    left: 5%;
}
#tenth video
{
    position: absolute;
    height: 100%;
}
#eleventh
{
    position: relative;
    /* left: -50%; */
}
#eleventh video
{
    position: absolute;
    /* left: -7%; */
    /* width: 110%; */
    height: 100%;
}
#tewelth
{
    position: relative;
    /* left: -48%; */
}
#tewelth video
{
    position: absolute;
    /* left: -10%; */
    /* width: 110%; */
    height: 100%;
}
#thirteen
{
    position: relative;
    left: -7.5%;
    width: 280px;
}
#thirteen video
{
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 290px;
}
#sixth
{
    background-image: url(sixth.png);
    /* border: 1px solid white; */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 600px;
}
#seventh
{
    background-image: url(seventh.png);
    /* border: 1px solid white; */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 600px;
}

#eight
{
    background-image: url(eight.png);
    /* border: 1px solid white; */
     background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 800px;
}
#fifteen
{
    margin-left: 20px;
    margin-right: 20px;
    width: 280px;
}
#fifteen video
{
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 280px;
}
#backpg2 h6
{
    animation: viewmoremove 1.5s infinite 1.8s;
    position: absolute;
    bottom: 2.5%;
    right: 4%;
    bottom: 5%;
    color: black;
    font-size: 15px;
    font-weight: 800;
}
#viewmoreline
{
    animation: viewlinemove ease-in-out infinite 2s;
    position: absolute;
    bottom: 4.5%;
    right: 4%;
    width: 50px;
    height: 3px;
    /* background-color: black; */
    border-radius: 10px;
}
#viewmorelining
{
    position: absolute;
    /* bottom: ; */
    left: -100%;
    width: 50px;
    height: 3px;
    /* background-color: black; */
    border-radius: 10px;
}
#backpg2 i
{
    position: absolute;
    bottom: 5%;
    right: 2.5%;
    color: black;
}
#backpg3
{
    position: relative;
    /* top: 10%; */
    width: 100%;
    height: 100%;
    background-image: url(back.png);
    background-size: cover;
    background-attachment: fixed;
}
#backimg3
{
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% - 60px);
    /* background-color: aqua; */
}
#contactblur
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.096);
    color: white;
    backdrop-filter: blur(3px);
    border-radius: 10px;
}
.contactus
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 80%;
    /* background-color: #fff; */
    color: white;
}
.partitionline
{
    width: 3px;
    height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.contactusline
{
    width: 80%;
    height: 3px;
    background-color: gray;
    border-radius: 10px;
    margin-top: 10px;
}
.contactus h2
{

    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 400;
}
.divs
{
    width: 80%;
    height: 60px;
    /* background-color: rebeccapurple; */
    margin-top: 30px;
}
.divs h6
{
    font-size: 17px;
    color: white;
    font-weight: 300;
    letter-spacing: 1.5px;
}
.phoneno
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    width: 100%;
    height: 50%;
    /* background-color: aqua; */
}
.phoneno i
{
    margin-right: 15px;
}
.phoneno h5
{
    font-weight: 300;
}
#maillink
{
    font-size: 13px;
    text-decoration: none;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
}
.divisions
{
    display: flex;
    align-items: center;
    width: 90%;
    height: 60px;
    /* background-color: aqua; */
    margin-top: 15px;
}
.divisions:nth-child(2)
{
    margin-top: 35px;
}
.socialicon
{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 0px 10px white;
}
.socialicon i
{
    font-size: 23px;
    color: black;
}
.divisions a
{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 400;
    margin-left: 35px;
}
#insta:hover
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 210px;
    height: 30px;
    font-size: 18px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px #ff0400;
    background-color: #e04441;
    font-weight: 500;
}
#vimeo
{
    margin-left: 35px;
    letter-spacing: 2.5px;
    font-size: 15px;
    font-weight: 600;
}
#vimeo:hover
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 170px;
    height: 30px;
    font-size: 18px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px #ff0400;
    background-color: #e04441;
    font-weight: 500;
}
#twitter:hover
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 190px;
    height: 30px;
    font-size: 18px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px #ff0400;
    background-color: #e04441;
    font-weight: 500;
}
#linkedin:hover
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 190px;
    height: 30px;
    font-size: 18px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px #ff0400;
    background-color: #e04441;
    font-weight: 500;
}
#aboutus
{
    width: 90%;
    height: 100%;
    /* background-color: aqua; */
}
#aboutus p
{
    margin-top: 30px;
    font-size: 14.8px;
    letter-spacing: .5px;
    font-weight: 100;
    text-align: center;
    line-height: 25px;
}

@keyframes moveline
{
    from{
        transform: skewY(30);
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}
@keyframes viewlinemove
{
    from{
        transform: translate(10);
        opacity: 0;
    }
    to{
        transform: translate(100%);
        opacity: 1;
    }
}
@keyframes viewmoremove
{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media(max-width:393px)
{
    #backmain
    {
        /* overflow: hidden; */
        /* width: 93%; */
        height: 600px;
        background-color: black;
        flex-direction: column;
    }
    #backpg1
    {
        width: 100%;
        overflow: hidden;
        background-image: url(mobileback.jpg);
        background-position: center;
        background-size: cover;
        height: 100%;
        flex-direction: column;
        scroll-behavior: smooth;
    }
    #nav
    {
        /* display: flex;
        align-items: center; */
        position: fixed;
        height: 60px;
        width: 100%;
    }
    #logo
    {
        width: 60px;
        height: 15px;
        margin-left: 10px;
        margin-bottom: -6px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #links
    {
        width: 200px;
        /* margin-right: 10px; */
    }
    #links a
    {
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 0;
    }
    #links a:hover
    {
        font-size: 10px;
        width: 60px;
        height: 15px;
    }
    #headings1
    {
        left: 25%;
        top: 15%;
        width: 250px
        
    }
    #headings1 h2
    {
        font-size: 15px;
    }
    #headings2
    {
        left: 1%;
        width: 96%;
        height: 300px;
        padding: 2px 5px;
    }
    #headings2 h2
    {
        position: absolute;
        line-height: 40px;
        text-align: right;
        top: 5%;
        font-weight: 100;
        left: 7.5%;
        font-size: 12px;
    }
    #dark
    {
        font-size: 14px;
        letter-spacing: 2px;
    }
    #headings2 h1
    {
        top: 20%;
        margin-top: 70px;
        font-size: 22px;
    }
    #headings2 h1:nth-child(3)
    {
        font-size: 30px;
        position: absolute;
        top: 30%;
    }
    #email
    {
        width: 70%;
        left: 2%;
    }
    #email h5
    {
        font-size: 11px;
        letter-spacing: 1px;
    }
    #email i
    {
        margin-right: 10px;
    }
    #headings2 a
    {
        width: 22%;
        right: 2.5%;
        font-size: 11px;
    }
    #gotp
    {
        position: fixed;
        right: 12%;
    }
    #overlay h6
    {
        top: 88%;
        right: 1%;
    }
    #knowmoreline
    {
        top: 82%;
        right: 3%;
    }
    #arrow
    {
        bottom: 3%;
        right: 4%;
    }
    #backpg2
    {
        width: 100%;
        background-image: url(mobileback.jpg);
        background-position: center;
        background-size: cover;
        height: 100%;
        flex-direction: column;
        scroll-behavior: smooth;
    }
    #backpg2 h1
    {
        margin-left: 5px;
        font-size: 30px;
        top: 10%;
        letter-spacing: 1px;
    }
    #backpg2 h3
    {
        font-size: 20px;
        top: 25%;
        text-align: right;
        margin-right: -5px;
    }
    #portfolio
    {
        top: 30%;
        height: 50%;
    }
    .webdesigns
    {
        width: 90%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 2px;
    }
    #first
    {
        border: none;
    }
    #second
    {
        border: none;
    }
    #third
    {
        border: none;
    }
    #fourth
    {
        border: none;
    }
    #fivth
    {
        border: none;
    }
    #sixth
    {
        width: 300px;
        border: none;
    }
    #seventh
    {
        width: 300px;
        border: none;
    }
    #eight
    {
        width: 300px;
        border: none;
    }
    #backpg2 h6
    {
        color: white;
        right: 8%;
        bottom: 24%;
    }
    #viewmoreline
    {
        background-color: white;
        right: 22%;
        bottom: 24%;
    }
    #backpg2 i
    {
        color: white;
        bottom: 24%;
    }
    #backpg3
    {
        /* width: 100%; */
        background-image: url(mobileback.jpg);
        background-position: center;
        background-size: cover;
        height: 1400px;
        flex-direction: column;
        scroll-behavior: smooth;
    }
    #backimg3
    {
        height: 100%;
    }
    #contactblur
    {
        width: 60%;
        height: 90%;
        top: 45%;
        flex-direction: column;
    }
    .contactus
    {
        width: 95%;
    }
    .divs
    {
        width: 90%;
    }
    .contactusline
    {
        width: 130%;
        height: 5px;
    }
    #social
    {
        font-size: 26px;
        margin-top: 50px;
        letter-spacing: 1px;
    }
    .divisions
    {
        width: 110%;
    }
    .divisions:nth-child(2)
    {
        margin-top: 15px;
    }
    .divisions a
    {
        margin-left: 20px;
    }
    .partitionline
    {
        height: 5px;
        width: 140%;
        margin-top: 30px;
        background-color: rgb(255, 255, 255);
    }
    #vimeo
    {
        margin-left: 20px;
    }
    #aboutus
    {
        width: 150%;
    }
    #aboutus p
    {
        font-size: 18px;
        margin-top: 10px;
    }
    #ending
    {
        margin-top: 20px;
    }
}
/* @media(max-width:1080px)
{
    #backmain
    {
        height: 1280px;
        flex-direction: column;
        display: flex;
    }
    #backpg1
    {
        width: 100%;
        overflow: hidden;
        background-image: url(mobileback.jpg);
        background-position: center;
        background-size: cover;
        height: 100%;
        flex-direction: column;
        scroll-behavior: smooth;
    }
} */